# EditorConfig for Android UI/UX Upgrade Skill
# This file helps maintain consistent coding styles across the project
# Learn more: https://editorconfig.org

root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown files
[*.md]
max_line_length = 100
trim_trailing_whitespace = true

# JSON files
[*.json]
indent_style = space
indent_size = 2

# XML files (Android resources)
[*.xml]
indent_style = space
indent_size = 4

# Kotlin files
[*.kt]
indent_style = space
indent_size = 4
max_line_length = 120

# Java files
[*.java]
indent_style = space
indent_size = 4
max_line_length = 100

# Gradle files
[*.gradle]
indent_style = space
indent_size = 4

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2
end_of_line = lf

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Properties files
[*.properties]
indent_style = space
indent_size = 2
